body{
  font-family: sans-serif;
  background-color: #eee;
  color: #000;
}

div.centered{
font-size: 300%;
align-items: center;
padding-top: 12.5%;
padding-bottom:  0px;
text-align: center;

}

.left{
  text-align: left;
}

.G:hover{
  color:#008cff;

}

.exit{
  float: right;
  padding-right: 10px;
  color: red;
}

.pointer{
  cursor:pointer;
}

li:hover{
  background-color: #ccc;
  color: #000;
}

strong{
  border: solid;
  padding: 10px;
}

.terminal{
  height: 300px;
  background-color: black;
  color:#ccc;
  text-align: left;
  font-size: 75%;
  padding-left: 10px;
  padding-top: 5px;

}

.draggable{
  border: solid red;
}

.header{
  cursor: move;
  background-color: #eee;
}

#win1{
  z-index: 10;
  width:400px;
  display:inherit;
  font-size: 300%;
  text-align: center;
  font-family:monospace;
  border: solid;
}

#win2{
  top: 25%;
  left: 30%;
  position:fixed;
  z-index: 11;
  width:500px;
  display:inherit;
  font-size: 300%;
  text-align: center;
  font-family:monospace;
  border: solid;
}

#win22{
  top: 10%;
  left: 50%;
  position:fixed;
  z-index: 10;
  width:500px;
  display:inherit;
  font-size: 300%;
  text-align: center;
  font-family:monospace;
  border: solid;
}

#win3{
  position: fixed;
  top: 20%;
  left: 10%;
  z-index: 10;
  width:600px;
  display:inherit;
  font-size: 300%;
  text-align: center;
  font-family:monospace;
  border: solid;
}

.small{
  margin: 0;
  font-size: 20px;
}

#win32{
  position: fixed;
  top: 30%;
  left: 20%;
  z-index: 10;
  width:600px;
  display:inherit;
  font-size: 300%;
  text-align: center;
  font-family:monospace;
  border: solid;
}

#win4{
  position: fixed;
  z-index: 10;
  width:600px;
  display:inherit;
  font-size: 300%;
  text-align: center;
  font-family:monospace;
  border: solid;
  font-size: 25px;
}

.light{
  background-color: #eee;
  border: solid #aaa;
  border-width: thin;
}
